*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.folder{
    margin: 6px;
    background-color: antiquewhite;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 10px 10px;
    border: 1px solid black;
}
.folder >div> button{
    padding: 5px 10px;
    margin-right: 10px;
    border-radius: 0px;
}
.file{
    margin: 6px;
    background-color: rgb(140, 112, 76);
    width: 400px;
    padding: 10px 10px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.inputContainer{
    display: flex;
    align-items: center;
    gap: 5px;
}
.inputContainer input{
    padding: 5px;
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: space-between;
    outline: none;
}